<!DOCTYPE html>
<html>
  <head>
    <title><%= @server_name %></title>
    <script type="text/javascript" src="/_default/roll.js"></script>
    <link rel="stylesheet" href="/_default/style.css" type="text/css" />
  </head>
  <body>
    <div id="error" class="banner">403 - FORBIDDEN</div>
  </body>
</html>
