<!DOCTYPE html>
<html>
  <head>
    <title>The page is temporarily unavailable | <%= @server_name %></title>
    <style type="text/css">
      html, body { height: 100% }
      html { background-image: -webkit-linear-gradient(top, #888, #ccc) }
      body { background: transparent url(/_default/ifad.png) no-repeat scroll right -50px }
      table { width: 100%; height: 100%; }

      #notice {
        font-family: Verdana, Helvetica, sans-serif;
        font-size: 32px;
        text-shadow: #777 10px 7px 6px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td id="notice" align="center" valign="middle">
          The page you are looking for is temporarily unavailable.<br/>
          Please try again later.
        </td>
      </tr>
    </table>
  </body>
</html>
