<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%= @server_name %></title>
    <script type="text/javascript" src="/_default/roll.js"></script>
    <link rel="stylesheet" href="/_default/style.css" type="text/css" />
  </head>
  <body>
    <div id="name" class="banner"><%= @server_name %></div>
  </body>
</html>
